.average-session {
	height: 263px;
	width: 100%;
	background-color: red;
	border-radius: 8px;
}

.average-title {
	color: white;
	font-size: 14px;
}

.session-tooltip {
	background-color: white;
	padding: 0.5rem;
	color: black;
	font-size: 12px;
}
