.vertical-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 117px;
	background-color: black;
	height: calc(100vh - 91px);

	.vertical-icon {
		height: 64px;
		width: 64px;
	}

	.copyright {
		position: absolute;
		color: white;
		transform: rotate(-90deg);
		width: max-content;
		bottom: 100px;
		font-size: 12px;
	}
}
