.vertical-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 117px;
	background-color: black;
	gap: 1rem;
	height: calc(100vh - 91px);

	.vertical-icon {
		height: 64px;
		width: 64px;
	}

	.copyright {
		position: absolute;
		color: white;
		transform: rotate(-90deg);
		width: max-content;
		bottom: 80px;
		font-size: 12px;
	}
}

@media screen and (min-width: 1023px) and (max-width: 1439px) {
	.vertical-nav {
		height: 1406px;
		justify-content: flex-start;
	}
}
