.home {
	height: 100%;
}

.home-body {
	display: flex;
	flex-direction: row;
	height: 100%;

	.home-content {
		padding: 2rem;
		max-width: 1126px;
		width: 100%;

		.home-user {
			margin-bottom: 2rem;
			font-weight: bold;
			margin-bottom: 3rem;

			.home-user-hello {
				font-size: 48px;
			}
			.home-user-firstname {
				font-size: 48px;
				color: red;
			}
			.home-user-greetings {
				font-size: 18px;
				font-weight: 400;
			}
		}
	}

	.home-charts {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		width: 100%;
	}

	.home-charts-first-column {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
	}

	.home-charts-first-column-row-3 {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		width: 100%;
	}
}

@media screen and (min-width: 1023px) and (max-width: 1439px) {
	.home-charts-first-column {
		width: 60%;
	}

	.home-charts-first-column-row-3 {
		width: 60%;
		flex-wrap: wrap;
	}
}
